<div class="register-container">
  <div class="register-card">
    <mat-icon class="register-icon" color="primary">how_to_reg</mat-icon>
    <h3 class="register-title">Registro en Clínica Online</h3>
    <p class="register-subtitle">Seleccioná tu rol para comenzar</p>

    <div class="buttons">
      <button mat-flat-button color="primary" routerLink="paciente">
        <mat-icon>person</mat-icon>
        Soy Pacientee
      </button>
      <button mat-stroked-button color="accent" routerLink="especialista">
        <mat-icon>medical_services</mat-icon>
        Soy Especialista
      </button>
    </div>

    <!-- Carga el formulario correspondiente -->
    <router-outlet></router-outlet>
  </div>
</div>
