<!-- src/app/turnos/solicitar-turno/solicitar-turno.component.html -->
<div class="solicitar-turno-container">
  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="subtitle">Solicitar Turno</h2>

  <mat-card class="form-card">
  <mat-card-title>Solicitar Turno</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

    <!-- Paciente (solo admin) -->
    <mat-form-field *ngIf="isAdmin" appearance="outline" class="full-width">
      <mat-label>Paciente*</mat-label>
      <mat-select formControlName="paciente">
        <mat-option *ngFor="let p of pacientes" [value]="p.user_id">
          {{ p.nombre }} {{ p.apellido }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Especialista -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Especialista*</mat-label>
      <mat-select formControlName="especialista">
        <mat-option *ngFor="let e of especialistas" [value]="e.user_id">
          {{ e.nombre }} {{ e.apellido }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Especialidad -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Especialidad*</mat-label>
      <mat-select formControlName="especialidad">
        <mat-option *ngFor="let s of specialidades" [value]="s">
          {{ s }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <!-- Fecha: sólo las fechas con horarios -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha*</mat-label>
      <mat-select formControlName="fecha">
        <mat-option *ngFor="let f of availableDates" [value]="f.value">
          {{ f.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Hora -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Hora*</mat-label>
      <mat-select formControlName="hora" [disabled]="availableTimeSlots.length===0">
        <mat-option *ngFor="let h of availableTimeSlots" [value]="h">
          {{ h }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Solicitar Turno
      </button>
    </div>
  </form>
  
  </mat-card>
</div>
