<div class="home-container">
  <div class="welcome-card">
    <h2 class="welcome-title">Bienvenido a Clínica Online</h2>
    <p class="welcome-subtitle">Tu salud, en un click.</p>
    <div class="actions">
      <button mat-flat-button color="primary" routerLink="/login">
        <mat-icon class="icon">login</mat-icon>
        Iniciar sesión
      </button>
      <button mat-stroked-button color="accent" routerLink="/register">
        <mat-icon class="icon">app_registration</mat-icon>
        Registrarse
      </button>
    </div>
  </div>
</div>
