// styles.scss

// ================================
// Angular Material Theming (sin tocar)
// ================================
@use '@angular/material' as mat;

@include mat.core();

$clinica--online-primary: mat.define-palette(mat.$indigo-palette);
$clinica--online-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$clinica--online-warn:    mat.define-palette(mat.$red-palette);

$clinica--online-theme: mat.define-light-theme((
  color: (
    primary: $clinica--online-primary,
    accent:  $clinica--online-accent,
    warn:    $clinica--online-warn,
  )
));

@include mat.all-component-themes($clinica--online-theme);

// ================================
// Estilos globales
// ================================
html, body, app-root {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;

  /* 1) Asegúrate de que la ruta coincida con donde pusiste tu imagen */
  background-image: url('/assets/icono-clinica.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: auto;


  ::ng-deep .mat-sidenav-content,
  ::ng-deep .mat-dialog-container,
  ::ng-deep .mat-card {
    background: transparent !important;
  }
  
}


