
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$clinica--online-primary: mat.define-palette(mat.$indigo-palette);
$clinica--online-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$clinica--online-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$clinica--online-theme: mat.define-light-theme((
  color: (
    primary: $clinica--online-primary,
    accent: $clinica--online-accent,
    warn: $clinica--online-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($clinica--online-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.scss */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  /* un degradado de verde (#009b0d) a blanco */
  background: linear-gradient(
    /* dirección: diagonal desde arriba-izquierda hacia abajo-derecha */
    135deg,
    /* color celeste en el 0% */
    #16ece2 0%,
    /* color blanco en el 100% */
    #ffffff 100%
  );
}
