<!-- src/app/auth/register/paciente-register/paciente-register.component.html -->
<div class="form-container" [class.loading]="loading">
  <h3>Registro de Paciente</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="form.get('nombre')?.hasError('minlength')">
        Mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <!-- Apellido -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" />
      <mat-error *ngIf="form.get('apellido')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="form.get('apellido')?.hasError('minlength')">
        Mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <!-- Edad -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Edad</mat-label>
      <input matInput type="number" formControlName="edad" />
      <mat-error *ngIf="form.get('edad')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="form.get('edad')?.hasError('min')">
        Debe ser mayor que 0 y menor que 120
      </mat-error>
      <mat-error *ngIf="form.get('edad')?.hasError('max')">
        Debe ser menor que 120
      </mat-error>
    </mat-form-field>

    <!-- DNI -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" />
      <mat-error *ngIf="form.get('dni')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="form.get('dni')?.hasError('pattern')">
        Deben ser solo números
      </mat-error>
    </mat-form-field>

    <!-- Obra Social -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Obra Social</mat-label>
      <input matInput formControlName="obraSocial" />
      <mat-error *ngIf="form.get('obraSocial')?.hasError('required')">
        Requerido
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="usuario@dominio.com"/>
      <mat-error *ngIf="form.get('email')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        El formato del correo debe ser usuario&#64;dominio.com.
      </mat-error>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Requerido
      </mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">
        Mínimo 6 caracteres
      </mat-error>
    </mat-form-field>

    <!-- Confirmar Contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="form.hasError('mismatch')">
        Las contraseñas no coinciden
      </mat-error>
    </mat-form-field>

    <!-- Foto 1 -->
    <div class="file-input">
      <label>Foto Perfil 1 (required):</label>
      <input type="file" (change)="onFileChange($event,'foto1')" />
      <div class="error" *ngIf="form.get('foto1')?.hasError('required')">
        Debes subir la primera foto
      </div>
    </div>

    <!-- Foto 2 -->
    <div class="file-input">
      <label>Foto Perfil 2 (required):</label>
      <input type="file" (change)="onFileChange($event,'foto2')" />
      <div class="error" *ngIf="form.get('foto2')?.hasError('required')">
        Debes subir la segunda foto
      </div>
    </div>

    <div *ngIf="error" class="submit-error">{{ error }}</div>

    <button mat-flat-button color="primary"
            type="submit"
            [disabled]="form.invalid || loading">
      {{ loading ? 'Registrando…' : 'Registrar Paciente' }}
    </button>
  </form>
</div>
